// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Custom color palette
$blue-custom-primary: #113946;
$beige-custom-secondary: #BCA37F;
$light-beige-custom-body-bg: #EAD7BB;
$light-beige: #FFF2D8;

// Font color
$charcoal-grey: #232323;
