.primary-button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: $blue-custom-primary;
  border: 1px solid $blue-custom-primary;
  text-decoration: none;
  text-align: center;
  color: $light-beige;
  transition: 0.3s;

  &:hover {
    background-color: #081e25;
    transition: 0.3s;
  }
}

.secondary-button {
  border-radius: 5px;
  border: 1px solid $beige-custom-secondary;
  background-color: $light-beige-custom-body-bg;
  text-decoration: none;
  text-align: center;
  color: $beige-custom-secondary;
  transition: 0.3s;

  &:hover {
    background-color: $blue-custom-primary;
    color: $light-beige;
    border: 1px solid $blue-custom-primary;
    transition: 0.3s;
  }
}
