.search-bar {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid $light-beige;
  background-color: $light-beige;
}

.search-bar-margin {
  margin: 0 20px 35px;
}
